<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
    <!-- ###+ symfony/postmark-mailer ### -->
    <!-- MAILER_DSN=postmark://ID@default -->
    <!-- ###- symfony/postmark-mailer ### -->
    <!-- ###+ symfony/lock ### -->
    <!-- Choose one of the stores below -->
    <!-- postgresql+advisory://db_user:db_password@localhost/db_name -->
    <env name="LOCK_DSN" value="semaphore"/>
    <!-- ###- symfony/lock ### -->
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="dev"/>
    <env name="APP_SECRET" value="c8a9dafe6dcceb810ef9ddbf89899c37"/>
    <!-- ###- symfony/framework-bundle ### -->
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
