{% extends 'adminBase.html.twig' %}

{% block body %}

<div class="flex justify-between items-center">
	<h1>Dashboard</h1>
	<a class="button" href="{{ path('app_logout') }}">Log out</a>
</div>

{% endblock %}